body {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width : 100%;
    height: 100vh;
}

#shark {
    position: absolute;
    top: 400px;
    left: 100px;
    animation: Shark 10s ease-in-out infinite;
}

@keyframes Shark {
    0% {
        left: 100px;
        top: 200px;
        transform: rotateY(0deg);
    }
    25% {
        left: 300px;
        top: 100px;
        transform: rotateY(0deg);
    }
    50% {
        left: 900px;
        top: 100px;
        transform: rotateY(0deg);
    }
    /* Quay đầu lại */
    50.1% {
        transform: rotateY(180deg);
    }
    60% {
        left: 700px;
        top: 200px;
        transform: rotateY(180deg);
    }
    /* Bơi ngược về vị trí ban đầu */
    75% {
        left: 300px;
        top: 350px;
        transform: rotateY(180deg);
    }
    100% {
        left: 100px;
        top: 400px;
        transform: rotateY(180deg);
    }
}
#turtle {
  animation: turtle 25s ease-in-out infinite; /* Di chuyển chậm hơn */
  position: absolute;
  top: 700px; /* Gần đáy bãi cát */
  left: 100px;
}

@keyframes turtle {
  0% {
    left: 100px;
    transform: rotateY(0deg);
  }
  25% {
    left: 400px; /* Di chuyển về phía phải */
    transform: rotateY(0deg);
  }
  50% {
    left: 1200px; /* Đi đến cuối bên phải */
    transform: rotateY(0deg);
  }
  50.1% {
    transform: rotateY(180deg); /* Quay đầu */
  }
  100% {
    left: 100px; /* Quay về vị trí ban đầu */
    transform: rotateY(180deg);
  }
}
#goldFishSchool {
    position: absolute;
    top: 500px; /* Vị trí ban đầu thấp hơn */
    left: 100px;
    animation: goldFishSchool 20s ease-in-out infinite;
}

@keyframes goldFishSchool {
    0% {
        left: 150px;
        top: 150px;
        transform: rotateY(0deg);
    }
    10% {
        left: 200px;
        top: 300px;
        transform: rotateY(0deg);
    }
    20% {
        left: 300px;
        top: 400px;
        transform: rotateY(0deg);
    }
    25% {
        left: 400px;
        top: 500px;
        transform: rotateY(0deg);
    }
    50% {
        left: 1200px;
        top: 510px;
        transform: rotateY(0deg);
    }
    /* Quay đầu lại */
    50.1% {
        transform: rotateY(180deg);
    }
     75% {
        left: 300px;
        top: 520px;
        transform: rotateY(180deg);
    }
    100% {
        left: 100px;
        top: 520px;
        transform: rotateY(180deg);
    }
}
#faintSchool {
    position: absolute;
    top: 550px; /* Vị trí ban đầu thấp hơn */
    left: 100px;
    animation:faintSchool 22s ease-in-out infinite; /* Bơi chậm hơn */
}

@keyframes faintSchool {
    0% {
        left: 150px;
        top: 450px; /* Thấp hơn */
        transform: rotateY(0deg);
    }
    10% {
        left: 250px;
        top: 470px;
        transform: rotateY(0deg);
    }
    20% {
        left: 400px;
        top: 480px;
        transform: rotateY(0deg);
    }
    25% {
        left: 500px;
        top: 490px;
        transform: rotateY(0deg);
    }
    50% {
        left: 1200px;
        top: 500px;
        transform: rotateY(0deg);
    }
    /* Quay đầu lại */
    50.1% {
        transform: rotateY(180deg);
    }
    75% {
        left: 400px;
        top: 520px;
        transform: rotateY(180deg);
    }
    100% {
        left: 100px;
        top: 530px;
        transform: rotateY(180deg);
    }
}
#diver1 {
  animation: diver1 15s ease-in-out infinite; /* Di chuyển chậm hơn */
  position: absolute;
  top: 25px; /* Gần đáy bãi cát */
  left: 100px;
}

@keyframes diver1 {
  0% {
    left: 100px;
    transform: rotateY(0deg);
  }
  25% {
    left: 400px; /* Di chuyển về phía phải */
    transform: rotateY(0deg);
  }
  50% {
    left: 1200px; /* Đi đến cuối bên phải */
    transform: rotateY(0deg);
  }
  50.1% {
    transform: rotateY(180deg); /* Quay đầu */
  }
  100% {
    left: 100px; /* Quay về vị trí ban đầu */
    transform: rotateY(180deg);
  }
}
#diver2 {
  animation: diver2 15s ease-in-out infinite; /* Di chuyển chậm hơn */
  position: absolute;
  top: 650px; /* Gần đáy bãi cát */
  left: 100px;
}

@keyframes diver2 {
  0% {
    left: 100px;
    top:400px;
    transform: rotateY(0deg);
  }
  25% {
    left: 400px;
     /* Di chuyển về phía phải */
    transform: rotateY(0deg);
  }
  50% {
    left: 1200px; /* Đi đến cuối bên phải */
    top: 600px;
    transform: rotateY(0deg);
  }
  50.1% {
    transform: rotateY(180deg); /* Quay đầu */
  }
  75% {
    left:800px;
    top:400px;
    transform: rotateY(180deg);
    
  }
  100% {
    left: 100px; /* Quay về vị trí ban đầu */
    transform: rotateY(180deg);
  }
}



